*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.out
*.app
*.ilk
*.pdb
*.tlog
*.lastbuildstate
*.filters
*.vcxproj
*.suo
*.db
*.ipch
*.log
*.ipdb
*.iobj
*.sln
Debug/